<div class="gallery">

  {% if block.galleries|length %}

    {% for image in block.galleries %}

      {{block.galleries|length}}

      {% for image in block.galleries %}
        <img src="{{ image.url }}" style="width:200px; height:200px;"alt="">
      {% endfor %}

    {% endfor %}

  {% endif %}

  <div class="">

  </div>

</div>
