<div class="row">
  <div class="gallery">
    <h2>{{block.sectionHeader}}</h2>
      {% for image in block.imageGallery %}
        <img src="{{ image.url }}" alt="{{image}}">
      {% endfor %}
  </div>
</div>
