<section id="newsletter">
  <div class="newsletter">
    <div class="row">
      <div class="newsletter_form">
      <h3>I occasionally send out insights to some of my favorite music, board games, tech and other goingson.</h3>

      <form class="" action="index.html" method="post" placeholder="Your Email..">
        <div class="button_submit" type="button" name="button"><span>submit</span></div>
      </form>
      <p class="notice">Note: I seriously hate getting too much email. I only send email about once a month and I work really hard to ensure that this content is worthwhile. I quickly kill content that doesn’t work and I always make it easy to pause email or unsubscribe.</p>
      </div>
    </div>
  </div>
</section>
