.contentArea {
  text-align:center;
  padding:1em 2em 2em;
  margin:auto;
  width:72%;
  @media(--tablet-max) {
    width: 100%;
  }
}
.half {
  p {
    padding-bottom: .25em;
  }
  &_text {
    padding:1em 3em .5em;
    width: 50%;
    @media(--tablet-max) {
      padding: 1em 1.5em;
    }
    @media(--mobile-max) {
      width: 100%;
      padding: 1em 2em;
    }
  }
  &_image {
    @media(max-width: 940px) {
      margin-top:2em;
    }
    img {
      width:50%;
      height:100%;
      max-height: 24em;
      object-fit:cover;
      box-shadow:var(--shadow-light);
      @media(--mobile-max) {
        width: 100%;
        max-height: 16em;
        float:left;
      }
      &:hover {
        box-shadow: var(--shadow);
        transition: .3s;

      }
    }
  }
  &_button {
    font-family: var(--gen);
    font-size: 1em;
    font-weight:bold;
    color: white;
    padding: 1em 1.25em;
    margin: 1em;
    border-radius: 6px;
    box-shadow: var(--shadow-light);
    transition: box-shadow .2s  font-size .5s ease;
    a {
      font-family: var(--gen);
      font-size: 1em;
      font-weight:bold;
      color: white;
      text-decoration:none;
    }
    &:hover {
      text-decoration: none;
      font-size: 1.02em;
      box-shadow: var(--shadow);

    }
  }
  a:hover {
    text-decoration: none;
  }
} /*END .half */

.recipe {
  width: 100%;
  margin: 2em;
  max-width: 1100px;
  padding-bottom:2em;
  h1 {
    @media(--tablet-max) {
      padding: .5em 0;
      font-size:3em;
    }
    @media(--mobile-max) {
      padding: .5em 0;
      font-size:2em;
    }
  }
  &_text {
    position:absolute;
    float:left;
    padding:2em 4em;
    height: 100%;
    max-height: 32em;
    width: 64%;
    background-image:linear-gradient(90deg, hsla(0, 0%, 100%, 0), #f9fafc 3%, hsla(0, 0%, 100%, 0));
    @media(--mobile-max) {
      max-height:24em;
    }
    &_title {
      position: absolute;
      z-index:999;
    }
    &_content {
      margin-top:13em;
      width:50%;
      @media(--tablet-max) {
        width:70%;
      }
      @media(--mobile-max) {
        width:80%;
        margin-top: 9em;

      }
    }
    @media(--mobile-max) {
      width:100%;
      padding: 2em 0;
    }
  }
  &_overflow {
    width:72%;
    @media(--desktop-max) {
      width: 100%;
    }
    @media(--mobile-max) {
      width:72%;
    }
  }
  &_image {
    padding-right:4em;
    @media(--mobile-max) {
      padding-right:0;
    }
    img {
      background-color: var(--offwhite);
      width:66%;
      height:32em;
      object-fit:cover;
      float:right;
      box-shadow:var(--shadow);
      @media(--mobile-max) {
        width:80%;
        float:right;
        max-height:24em;
      }
    }
  }
  &_lead {
    display:inline-block;
  }
  &_rating {
    display:block;
    font-size:2.4em;
    float:right;
    color: var(--offwhite);
  }
  &_scroll {
    text-align:center;
    border: 2px solid red;
    border-radius: 6px;
  }
}

.gallery {
  margin-top:3em;
  margin:auto;
  text-align:center;
  h2 {
    text-align:center;
    font-family: var(--pal);
    font-size: 2em;
  }
  img {
    width: 24.6%;
    height:300px;
    background-size: contain;
    object-fit:cover;
  }
  @media(--tablet-max) {
    img {
      width: 32%;
      height:260px;
    }
  }
  @media(--mobile-max) {
    img {
      width: 49%;
      height:200px;
    }
  }
}
.featuredBlog {
  background-color:#151516;
  margin:3em *;

  &_image {
    width:50%;
    float:left;
    background-size: cover;
    height:40em;
    filter:brightness(80%);
    @media(--mobile-max) {
      width:100%;
      height:20em;
    }
  }
  &_title {
    padding: 6em 3em;
    a {
      font-family: var(--pal);
      font-weight: 100;
      font-size: 3em;
      color: white;
    }
    @media(--tablet-max) {
      a {
        font-size:2em;
      }
    }
    @media(--mobile-max) {
      padding: 2em;
    }
  }
  &_text {
    width:50%;
    float: right;
    padding: 6em 3em 3em;
    @media(--mobile-max) {
      width:100%;
      float:none;
      padding: 22em 2em 4em;
    }
  }
  &_gallery {
    padding: 0;

    display:flex;
    @media(--desktop-min) {
      display:inline-block;
    }
    img {
      padding:6px;
      width:180px;
      height:120px;
      object-fit:cover;
      display:inline;
    }
    p {
      color: var(--offwhite);
    }
  }
  &_summary {
    padding:2em .5em;
    p {
      color: var(--offwhite);
      line-height:1.4em;
    }
  }
  &_button {
    background-color:transparent;
    span {
      padding:1em;
      border-radius: 6px;
    }
    a {
      letter-spacing:1px;
      color:white;
      text-decoration:none;
      text-transform:uppercase;
    }
    &:hover {
      span {
        background-color: var(--midwhite);
      }
      a {
        color: var(--main)
      }

    }
  }
}
.overlay {
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.5);
  text-align:center;
}
p.category {
  color: var(--offwhite);
  font-size: 18px;
}

.blog {
  padding: 1em 2em;

  h3 {
    a {
      color: var(--main);
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

.newsletter {
  margin-top:3em;
  background-color: var(--yellow);
  text-align:center;
  h3 {
    font-size:1.4em;
    line-height:1.4em;
    font-family: var(--gen);
    color:white;
    text-align:center;
  }
  form {
    cursor:pointer;
    margin: auto;
    height: 38px;
    width: 76%;
    background-color:white;
    border-radius: 6px;
    .button_submit {
      background-color: var(--offwhite);
      float:right;
      width:80px;
      color:var(--main);
      height: 100%;
      padding:.6em;
      border-top-right-radius: 6px;
  		border-bottom-right-radius: 6px;
      &:hover {
        background-color:var(--main);
        color:var(--offwhite);
      }
    }
  }
  p.notice {
    font-size: 12px;
    color: #333;
    padding-top:1.25em;
    margin: auto;
    width: 60%;
  }

  &_form {
  padding: 2em;
  margin:auto;
  width: 76%;
  }
}
