.footer {
  background: var(--main);

  &_block {
    @media(--mobile-max) {
      display:block;
      width: 100%;
    }
  }

  &_logo {
    padding:1em 0;
    img {
      width:64px;
      height:64px;
    }
    span {
      position:absolute;
      margin-left: -999em;
    }
  }
  &_social {
    .instagram {&:hover {color: #D6C9B5;}}
    .dribbble {&:hover {color: #E44A87;}}
    .staplegun {&:hover {color: #CD2228;}}
    .twitter {&:hover {color: #4099ff;}}
    .500px {&:hover {color: #202020;}}
  }

  &_main {
    padding: 1em 1em 2em;
    p {
      font-size: 1.5em;
      color: grey;
      text-transform: uppercase;
    }
    a {
      font-size:.8em;
      color: var(--offwhite);
      text-decoration:none;
      text-transform:none;
      &:hover {
        color:white;
        text-decoration:underline;
      }
    }
    i.fa {
      font-size:2em;
      padding:.25em;
    }
  }
  &_bottom {
    background-color: #2d2d2d;
    padding:1em;
    text-align:center;
    .quotes {
      margin: auto;
      font-size:1.25em;
      color: var(--offwhite);
      padding:2em 1em;
      width: 52%;
      p {
        color: var(--offwhite);
        margin-bottom:.2em;
      }
      span.author {
        font-size:.8em;
        color:#939393;
      }
      @media(--tablet-max) {
        width: 72%;
      }
      @media(--mobile-max) {
        width: 88%;
      }
    }
  }
}
.copyright {
  color: #939393;
  font-size:12px;
  text-align:center;
}
.location {
  color: var(--offwhite);
  float:left;
  margin-top: 6em;
  clear:both;
}
