.header {
  &_logo {
    position:absolute;
    padding:1em;
    z-index:999;
    transition: transform .2s ease;
    img {
      width:64px;
      height:64px;
    }
    span {
      position:absolute;
      margin-left: -999em;
    }
    &:hover {
      transform: scale(1.05);
      filter: contrast(200%);
      /*box-shadow:var(--shadow-light);*/
    }
  }
}
